html,
body {
  min-width: 290px;
  color: #52575d;
  background-color: #f6f4e6 ;
  line-height: 1.5;
}

.js-picture {
  width: 100px;
  padding: 10px;
  position: relative;
}

#navbar {
  position: fixed;
  display: flexbox;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: white;
}

.nav-link {
  font-family: 'Kanit', sans-serif;
}

p {
  font-family: 'Metrophobic', sans-serif;
}

li {
  font-family: 'Metrophobic', sans-serif;
}

header {
  color:#52575d;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#navbar li {
  color:white;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color:#41444b;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #41444b;
  margin: 15px;
  font-size: 0.96em;
  font-family: 'Metrophobic', sans-serif;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#ffffff ;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-size: large;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color:#f6f4e6;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}